


<div class="card mx-1   " >
    <img src="{{card.thumbnail}}" alt="img" class="card-image "  >
    <div class="card-body">
      <h5 class="card-title text-center">{{card.title}} </h5>
     
      <h6 class="card-title text-center">{{card.price }}$</h6>

      <h6 class="card-text text-center" [ngStyle]="{'color':card.stock>0? 'green':'red'}">
          <p>{{card.stock |rate}}</p>
      </h6>
   
      <!-- <a href="detail/{{card.id}}" class="btn btn-primary w-50">Go </a> -->
      <button class="btn btn-primary my-2 " (click)="moveto(card.id)">details</button>
      <br>
      <button  class="btn   bg-warning " (click)="addtochart()">Addtochart</button>
    </div>
    
  </div>