.mactive{
    color: rgb(17, 54, 201);
}

.counter{
    position: relative;
   margin-top: 0px;
   left: 1%;
   padding: 2px;
    background: red;
    border-radius: 100%;
    color: white;
    font-weight: bolder;
}